<div style="color: black;">
    {control form}


</div>

<script>
    ClassicEditor
        .create( document.querySelector( '#frm-routeForm-form-description' ) )
        .catch( error => {
            console.error( error );
        } );
    CKEDITOR.config.height='200px';

</script>
