<!DOCTYPE html>
<html lang="cs">
<head>
	<meta name="google-site-verification" content="sodjo3u9bK0_EyDJ9BC3vDefdFlv8uzGAGzbGiMkKaY" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta name="description" content="{if isset($keywords)} {$keywords} {else}nepiskari.cz - Jak začít s lezením na písku. Informace o horolezeckých cestách v Polické pánvi - Adršpach (Ádr), Křižový vrch (Křížák){/if}">
	<meta name="viewport" content="width=device-width">
	<meta name="keywords" content="{if isset($keywords)} {$keywords} {else}Adršpach, Lezení adršpach, lehké cesty adršpach, jak začít v adršpachu{/if}" >
	<meta name="author" content="nepiskari.cz">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>



	<meta name="robots" content="index, follow">

	{* <script type="text/javascript" src="https://api.mapy.cz/loader.js"></script> *}
	<script type="text/javascript" n:syntax=off>Loader.lang = "cs"; Loader.load(null, {poi:true});</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="{$basePath}/galery/js/jquery.lbt-lightbox.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{$basePath}/style/css/styl.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/galery/css/jquery.lbt-lightbox.css" type="text/css">
	<link rel="stylesheet" href="{$basePath}/promo/bootstrap/css/bootstrap.min.css" type="text/css">
	<link rel="icon" type="image/x-icon" href="{$basePath}/favicon.ico">


	<title>{if isset($keywords)} {$keywords} {else}nepískaři.cz - Lezecké začátky v adršpachu a na křížovém vrchu. {/if}</title>
</head>

<body>
<div n:foreach="$flashes as $flash">
	<div class="container">
		<!-- Trigger the modal with a button -->
		<button type="button" class="btn btn-info btn-lg" id="modal" data-toggle="modal" data-target="#myModal"
						hidden="true"></button>
		<!-- Modal -->
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content alert text-center">
					<div class="modal-body">
						<h4>{$flash->message}<h4>
					</div>
					<div>
						<button type="button" class="btn btn-warning text-dark" data-dismiss="modal" style="width: 20%;">Zavřít
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-warning">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#">Nepískaři</a>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo03">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link text-dark" n:href="Homepage:default">úvod</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" n:href="Homepage:starts">začátky</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" n:href="Homepage:routes">cesty</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-dark" n:href="Homepage:map">mapa</a>
				</li>
			</ul>
			{*<div class="d-flex">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link text-white" n:href="Login!">Přihlášení</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white" n:href="Registration!">Registrace</a>
					</li>
				</ul>
			</div>*}
		</div>
	</nav>

		{include content}


	<footer class="text-center text-lg-start bg-warning fixed-bottom">
		<!-- Copyright -->
		<div class="text-center p-3 text-dark">
			© {date('Y')}
			<a class="text-dark" n:href="Homepage:default">Nepískaři</a>
			info@nepiskari.cz
		</div>
		<!-- Copyright -->
	</footer>


	<!-- modals -->
{if isset($loginForm)}
	{control formLoginControl}
{/if}
{if isset($registrationForm)}
	{control formRegistrationControl}
{/if}

	{block scripts}
		<script src="{$basePath}/promo/bootstrap/js/bootstrap.bundle.min.js"></script>
		<script src="{$basePath}/promo/bootstrap/js/bootstrap.min.js"></script>
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		<script type="text/javascript">
			document.getElementById("modal").click();
		</script>
	{/block}
</body>
</html>
