{block content}
    <style>
        .datagrid-row-outer-filters-group, .datagrid-collapse-filters-button-row, .datagrid-manual-submit {
            padding-bottom: 10px;
        }

    </style>
    <div class="container-lg container-xl container-md mt-3 pt-3" style="padding-top: 15px;">
    {control routesGrid}
    </div>
 <br><br><br><br>

{/block}



